
/*chat*/
.statusProfile-3ynqtt{
    right: -52px;
    bottom: -52px;
}

.theme-dark .markup-2BOw-j{
    color: #cacaca;
    background-color: #00000000;
}
.theme-dark .markup-2BOw-j pre{
    background-color: #1d1d1dbd;
}

.headerNormal-T_seeN {
    height: 200px;
}

.channel-2QD9_O.selected-1HYmZZ a, .contentSelectedText-3wUhMi{
    background-image: linear-gradient(to right, #260485c2, #00000000); 
    background-color: #00000000;
}

.channel-2QD9_O:hover a, .contentSelectedText-3wUhMi:hover, .content-20Aix8:hover{
    background-image: linear-gradient(to right, #00b7ffc2, #00000000); 
    background-color: #00000000;
    -webkit-transition: opacity .5s,color .5s;
    color: #00b0f4;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .5s,color .5s;
}
.headerTop-3C2Zn0 {
    padding: 20px 10px;
    height: 190px;
}
.large-3ChYtB{
    height: 45px;
    width: 45px;
    border-radius: 10%;
}
.status-1XNdyw, .status-3fQvEa{
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

/*Friends list*/

.large-.image-33JSyf, .wrapper-2F3Zv8, .inner-1W0Bkn{
    height: 35px;
    width: 35px;
    border-radius: 10%;
}
.name-2WpE7M{
    color: #cacaca;
}

channel-2QD9_O selected-1HYmZZ {
    height: 20px;
    width: 30px;
}

/*New message*/
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
    background-image: linear-gradient(#00000000, #0059ff48, #00000000) !important;
    color: #00b7ff;
}
